ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=

HELICONE_API_KEY=
BETTERSTACK_SOURCE_TOKEN=

SUPABASE_JWT_SECRET=
SUPABASE_KEY=
SUPABASE_URL=
RESEND_API_KEY=
STRIPE_API_KEY=

MONGODB_URI=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
AZURE_API_VERSION=

QDRANT_URL=
QDRANT_API_KEY=

GITHUB_APP_ID=
GITHUB_CLIENT_SECRET=
GITHUB_PRIVATE_KEY=
GITHUB_CLIENT_ID=

DEV=
